body {
    background-color: aqua;

}

.border {
    border: 1px solid rgb(22, 22, 22);
    background-color: rgb(244, 244, 244);
    width: 50%;
}

.estilos {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 100%;

    justify-content: center;



}

.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu {
    width: 100%;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.registro {
    width: 100%;


}

.buscar {
    width: 100%;
    text-align: center;

}






.buscador {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.estilos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}


.flex-box {
    display: flex;
    flex-wrap: wrap;
}


.flex-box {
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}




/* pantallla pequeña sm de 0 a 50 */

@media screen and (min-width: 0px) and (max-width: 300px) {
    body {
        background-color: yellow;
        

        }

    .logo {
            width: 30%;
        }
    
        .nombre {
            width: 40%;
        }
    
        .menu {
            width: 30%;
        }
    
        .registro {
            width: 50%;
        }
    
        .buscar {
            width: 50%;
            display: none;
        }
    
    
        .servicios {
            width: 100%
        }
    
        .contenido {
            width: 100%;
        }
    
        .imagen {
            width: 30%;
        }
    
        .sm-1 {
            width: 8, 333%;
        }
    
        .sm-2 {
            width: 16, 666%;
        }
    
        .sm-3 {
            width: 25%;
        }
    
        .sm-4 {
            width: 33, 333%;
        }
    
        .sm-5 {
            width: 41, 666%;
        }
    
        .sm-6 {
            width: 50%;
        }
    
        .sm-7 {
            width: 58, 333%;
        }
    
        .sm-8 {
            width: 66, 666%;
        }
    
        .sm-9 {
            width: 75%;
        }
    
        .sm-10 {
            width: 83, 333%;
        }
    
        .sm-11 {
            width: 91, 666%;
        }
    
        .sm-12 {
            width: 100%;
        }
    
    
    }

@media screen and (min-width: 301px) and (max-width:600px) {
    body {
        background-color: #0e0edb;

    }

    .logo {
        width: 30%;
    }

    .nombre {
        width: 40%;
    }

    .menu {
        width: 30%;
    }

    .registro {
        width: 50%;
    }

    .buscar {
        width: 50%;
        display: none;
    }


    .servicios {
        width: 100%
    }

    .contenido {
        width: 100%;
    }

    .imagen {
        width: 30%;
    }

        .md-1 {
            width: 8, 333%;
        }
    
        .md-2 {
            width: 16, 666%;
        }
    
        .md-3 {
            width: 25%;
        }
    
        .md-4 {
            width: 33, 333%;
        }
    
        .md-5 {
            width: 41, 666%;
        }
    
        .md-6 {
            width: 50%;
        }
    
        .md-7 {
            width: 58, 333%;
        }
    
        .md-8 {
            width: 66, 666%;
        }
    
        .md-9 {
            width: 75%;
        }
    
        .md-10 {
            width: 83, 333%;
        }
    
        .md-11 {
            width: 91, 666%;
        }
    
        .md-12 {
            width: 100%;
        }


}

@media screen and (min-width: 601px) and (max-width: 900px) {
    body {
        background-color: red;
    }

    .logo {
        width: 30%;
    }

    .nombre {
        width: 30%;
    }

    .menu {
        width: 30%;
    }

    .registro {
        width: 10%;
    }

    .buscar {
        width: 100%;
    }

    .servicios {
        width: 100%
    }

    .contenido {
        width: 100%;
    }

    .imagen {
        width: 30%;
    }

        .pg-1 {
            width: 8, 333%;
        }
    
        .pg-2 {
            width: 16, 666%;
        }
    
        .pg-3 {
            width: 25%;
        }
    
        .pg-4 {
            width: 33, 333%;
        }
    
        .pg-5 {
            width: 41, 666%;
        }
    
        .pg-6 {
            width: 50%;
        }
    
        .pg-7 {
            width: 58, 333%;
        }
    
        .pg-8 {
            width: 66, 666%;
        }
    
        .pg-9 {
            width: 75%;
        }
    
        .pg-10 {
            width: 83, 333%;
        }
    
        .pg-11 {
            width: 91, 666%;
        }
    
        .pg-12 {
            width: 100%;
        }


}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    body {
        background-color: rgb(9, 243, 60);
    }

    .logo {
        width: 10%;
    }

    .nombre {
        width: 20%;
    }

    .menu {
        width: 40%;
    }

    .registro {
        width: 20%;
    }

    .buscar {
        width: 10%;
    }

    .servicios {
        width: 100%
    }

    .contenido {
        width: 100%;
    }

    .imagen {
        width: 30%;
    }
        .lg-1 {
            width: 8, 333%;
        }
    
        .lg-2 {
            width: 16, 666%;
        }
    
        .lg-3 {
            width: 25%;
        }
    
        .lg-4 {
            width: 33, 333%;
        }
    
        .lg-5 {
            width: 41, 666%;
        }
    
        .lg-6 {
            width: 50%;
        }
    
        .lg-7 {
            width: 58, 333%;
        }
    
        .lg-8 {
            width: 66, 666%;
        }
    
        .lg-9 {
            width: 75%;
        }
    
        .lg-10 {
            width: 83, 333%;
        }
    
        .lg-11 {
            width: 91, 666%;
        }
    
        .lg-12 {
            width: 100%;
        }
    
    
        }


    @media screen and (min-width: 1200px) and (max-width: 1700px) {
        
                    body {
                        background-color: rgb(245, 8, 245);
                    }
        
                    .logo {
                        width: 10%;
                    }
        
                    .nombre {
                        width: 20%;
                    }
        
                    .menu {
                        width: 40%;
                    }
        
                    .registro {
                        width: 20%;
                    }
        
                    .buscar {
                        width: 10%;
                    }
        
                    .servicios {
                        width: 100%
                    }
        
                    .contenido {
                        width: 100%;
                    }
        
                    .imagen {
                        width: 30%;
                    }
        
                    .mg-1 {
                        width: 8, 333%;
                    }
        
                    .mg-2 {
                        width: 16, 666%;
                    }
        
                    .mg-3 {
                        width: 25%;
                    }
        
                    .mg-4 {
                        width: 33, 333%;
                    }
        
                    .mg-5 {
                        width: 41, 666%;
                    }
        
                    .mg-6 {
                        width: 50%;
                    }
        
                    .mg-7 {
                        width: 58, 333%;
                    }
        
                    .mg-8 {
                        width: 66, 666%;
                    }
        
                    .mz-9 {
                        width: 75%;
                    }
        
                    .mg-10 {
                        width: 83, 333%;
                    }
        
                    .mg-11 {
                        width: 91, 666%;
                    }
        
                    .mg-12 {
                        width: 100%;
                    }
        
        
                }